<div class="bg-light p-5 rounded">
    <h1>施工予定表</h1>
    <p class="lead">施工予定の管理ができます。カレンダーの日付をクリックすると施工予定を入力、キャンセル等ができます。</p>
    <%= link_to "施工予定表へ移動 »", events_path, class: "btn btn-lg btn-primary active" %>
</div>
<div class="bg-light p-5 rounded">
    <h1>見込み管理表</h1>
    <p class="lead">見込み物件の管理や調査結果の管理ができます。</p>
    <%= link_to "見込み管理表へ移動 »", appoints_path, class: "btn btn-lg btn-primary active" %>
</div>
<div class="bg-light p-5 rounded">
    <h1>実績一覧</h1>
    <p class="lead">当日受注や月次、年次、達成状況などを確認できます。</p>
    <%= link_to "実績へ移動 »", achievements_path, class: "btn btn-lg btn-primary active" %>
</div>
